body{
    color:#333;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #333;
}

#Container{
    width: 70%;
    text-align: left;
    border: 1px solid aqua;
    margin: 0 auto;
    background-color: white;
}

#Container h1{
    font-size: 20px;
}

#Header{
    background: #33A;
    color: bisque;
    margin: 0;
    padding: 0.5em;
    font-weight: bold;
    text-align: center;
}

#Header #logo{
    width: 40px;
    vertical-align: middle;
}

#Post{
    padding: 1em;
}

#footer{
    background-color: grey;
    color: #DDD;
    padding: 0.5em;
    text-align: center;
}